img{
    width: 100%;
}

h4,h3{
     font-family: 'Chivo', sans-serif;
      color: #dee0d7;
}


p{
    font-family: 'Chivo', sans-serif;
    color: #dee0d7;
}
.border{
    color: #1f474f;
}
html {
  font-size: 0.9rem;
}

