img{
    width: 100%;
}

h4,h3{
     font-family: 'Chivo', sans-serif;
      color: #dee0d7;
}


p{
    font-family: 'Chivo light', sans-serif;
    color: #dee0d7;
}

html{
	font-size: calc(1rem + 1vw);
}

/*small devices (landscape phones, 576px and up*/
@media screen  and (min-width: 576px) {
	html {
		font-size: calc(1rem + 1vw);
	}
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
	html {
		font size: calc(0.7rem + 1vw);
	}
}

/*Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	html {
		font-size: calc(0.7rem + 1vw);
	}
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	html {
		font-size: calc(0.7rem + 0.7vw);
	}
}
.card{
    background-color: #dee0d7;
}
.btn-outline-light:hover{
    color: #001310;
    background-color: #da6a36;

}

