img{
    width: 100%;
}

h4,h3{
     font-family:'Moon 2.0 Regular';
      color: #dee0d7;
}


p{
    font-family: 'Chivo', sans-serif;
    color: #dee0d7;
}
.border{
    color: #1f474f;
}
html {
  font-size: 0.9rem;
}

/*
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}


.element {
  @include invisible(visible);
}
.element {
  @include invisible(hidden);
}
*/
